  <header class="main-header">
    <div class="main-header__wrapper">
        
            <button class="main-header__menu-button main-header__menu-button--closed"><span class="visually-hidden">Menu button</span></button>
        
        <p class="main-header__pre-form-message">I'm looking for...</p>
        <form class="main-header__form" action="https://echo.htmlacademy.ru" method="get">
            <input class="main-header__input-search" type="text" name="job" id="Job" placeholder="Enter A Job Description...">
            <label class="main-header__filter-label" for="full-time">
                <input class="visually-hidden" type="checkbox" name="full-time" id="full-time">
                <span class="checkbox-indicator"></span>
                Full-time
            </label>
            <label class="main-header__filter-label" for="part-time">
                <input class="visually-hidden" type="checkbox" name="part-time" id="part-time">
                <span class="checkbox-indicator"></span>
                Part Time / Casual / Freelance
            </label>
            <div class="main-header__form-select">
                <select class="main-header__select-country" name="country">
                    <option value="" disabled selected>Select your Location</option>
                    <option value="india">INDIA</option>
                    <option value="russia">Russia</option>
                    <option value="germany">Germany</option>
                     <option value="usa">USA</option>
                </select>
                <br><br><br>
                <div class="text-center">
                  <a href="" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#orangeModalSubscription">Register</a>
                </div>
            </div>
            <button class="main-header__form-submit main-header__form-submit--search" type="submit"><span class="search-button-text">Search</span></button>
        </form>
    </div>
</header>


<div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    
    <div class="modal-content">
      
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
       <div class="modal-body mx-3">
        <div class="container">
          <form [formGroup]="formData" (ngSubmit)="click(formDat)">
            <input type="text" name="id" placeholder="id" [formControl]="formData.controls['id']" required>
            <span [hidden]="formData.controls['id'].valid" style="color: red;"> id</span><br><br>
     
             


              <input type="text" name="name" placeholder="First Name" [formControl]="formData.controls['name']" required>
              <span [hidden]="formData.controls['name'].valid" style="color: red;"> Enter-first-Name</span><br><br>
      
               
              <input type="text" name="lastname" placeholder="Last Name" [formControl]="formData.controls['lastname']" required>
              <span [hidden]="formData.controls['lastname'].valid" style="color: red;"> Enter-last-name</span><br><br>
      

              
              <input type="text" name="email" placeholder="Email" [formControl]="formData.controls['email']" required>
              <span [hidden]="formData.controls['email'].valid" style="color: red;"> Enter-Email</span><br><br>
      
              
              <input type="text" name="mobile" placeholder="+91-1234567890" [formControl]="formData.controls['mobile']" required>
              <span [hidden]="formData.controls['mobile'].valid" style="color: red;"> Enter Mo.No</span><br><br>
               
              
              <span>age</span><div class="d-flex justify-content-bottom">
                <span class="indigo-text ">20</span>
                <input class="border-0" type="range" min="20" max="60" name="age" [formControl]="formData.controls['age']" required >
                
                <span class=" indigo-text ">60</span>
                <span [hidden]="formData.controls['age'].valid" style="color: red;"> Select Age</span><br><br>
              </div>


              <select class="main-header__select-country" name="state"  [formControl]="formData.controls['state']" required>
                <span [hidden]="formData.controls['state'].valid" style="color: red;"> select State</span><br><br>>
                <option value="" disabled selected>Select your state</option>
                <option value="maharatra">maharasta</option>
                <option value="bihar">bihar</option>
                <option value="goa">Goa</option>
                 <option value="rajastan">rajastan</option>
                 <option value="gujrat">gujrat</option>
            </select><br>
            
            <br><select class="main-header__select-country" name="country" [formControl]="formData.controls['country']" required>
              <span [hidden]="formData.controls['country'].valid" style="color: red;"> select country</span><br><br>
    
              <option value="" disabled selected>Select your country</option>
              <option value="India">India</option>
              <option value="pakistan">Pakistan</option>
              <option value="USA">USA</option>
              <option value="Dubai">Dubai</option>
               <option value="koria">Koria</option>
               <option value="japan">Japan</option>
          </select>
          


          <br><br><input type="text" name="address" placeholder="address" [formControl]="formData.controls['address']" required>
          <span [hidden]="formData.controls['address'].valid" style="color: red;"> Enter-Address</span><br><br>

          

          <input type="file" (change)="upload($event)" >
          <!-- //<button  class="btn btn-info"(click)="SendData()">upload file</button> -->
            <img src="{{imgURL}}" name="image"  height="50%" width="50%"  >
            <!-- <span [hidden]="formData.controls['image'].valid" style="color: red;"> uplode image </span><br>  -->
 
            <!-- <button [routerLink]="['/image']" class="btn btn-primary">cancle</button> -->
              <input type="submit" value="submit" [disabled]=!formData.valid class="btn btn-success">
      
          

        
            </form>
      </div>
      </div>
    
  </div>
</div>
</div>

