  
  img {
    max-width: 100%;
    height: auto; }
  
  .example {
    display: grid; }
  
  h6 {
    background: -webkit-gradient(linear, left top, left bottom, from(blue), to(black));
    background: -webkit-linear-gradient(top, blue, black);
    background: -o-linear-gradient(top, blue, black);
    background: linear-gradient(to bottom, blue, black); }
  
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  
  body {
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px; }
  
  main {
    margin: 0;
    padding: 0; }
  
  h3 {
    margin: 0;
    padding: 0; }
  
  .main-header {
    position: relative;
    padding-top: 84px;
    padding-bottom: 280px;
    background-image: url();
    background-color: #a0a9b0;
    background-repeat: no-repeat;
    background-size: cover; }
    .main-header::after {
      position: absolute;
      content: "";
      height: 7px;
      width: 100%;
      bottom: -7px;
      left: 0;
      background-image: url();
      z-index: 10; }
  
  .main-header__wrapper {
    max-width: 960px;
    margin: 0 auto; }
  
  .main-header__wrapper nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 220px; }
  
  .main-header__logo-link {
    display: block; }
  
  .main-header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gotham Rounded', Arial, sans-serif;
    font-weight: 500; }
  
  .main-header__menu-item {
    display: inline-block;
    margin-right: 20px; }
  
  .main-header__menu-item a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase; }
  
  .main-header__menu-item a:hover,
  .main-header__menu-item a:active,
  .main-header__menu-item a:focus {
    border-top: 3px solid #4acaff; }
  
  .main-header__menu-item:last-child {
    margin-right: 0; }
  
  .main-header__menu-item--active {
    border-top: 3px solid #4acaff; }
  
  .main-header__menu-item--active a:hover,
  .main-header__menu-item--active a:active,
  .main-header__menu-item--active a:focus {
    border: none; }
  
  .main-header__menu-button {
    display: none; }
  
  .main-header__pre-form-message {
    font-style: italic;
    font-size: 55px;
    line-height: 55px;
    color: black; }
  
  .main-header__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  
  .main-header__form label {
    color: white;
    font-size: 13px;
    font-style: italic;
    margin-right: 30px; }
    .main-header__form label:last-of-type {
      margin-right: 145px; }
    .main-header__form label input[type='checkbox'] + .checkbox-indicator {
      display: inline-block;
      position: relative;
      margin-right: 5px;
      top: 1px;
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 2px;
      -webkit-box-shadow: 0px 2px 0 0 #c7c7c7;
              box-shadow: 0px 2px 0 0 #c7c7c7; }
    .main-header__form label input[type='checkbox']:focus + .checkbox-indicator {
      display: inline-block;
      position: relative;
      top: 1px;
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 2px;
      -webkit-box-shadow: 0px 2px 0 0 #c7c7c7;
              box-shadow: 0px 2px 0 0 #c7c7c7;
      outline: 2px solid #4acaff; }
    .main-header__form label input[type='checkbox']:checked + .checkbox-indicator:after {
      position: absolute;
      content: "";
      height: 4px;
      width: 9px;
      border-left: 2px solid #888585;
      border-bottom: 2px solid #888585;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
  
  .main-header__form-select {
    position: relative;
    width: 250px;
    height: 37px;
    top: -7px; }
    .main-header__form-select::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 14px;
      background-color: #c7c7c7;
      right: 34px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      pointer-events: none; }
    .main-header__form-select::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      border-left: 2px solid #c7c7c7;
      border-top: 2px solid #c7c7c7;
      top: 50%;
      -webkit-transform: translateY(-70%) rotate(-135deg);
          -ms-transform: translateY(-70%) rotate(-135deg);
              transform: translateY(-70%) rotate(-135deg);
      right: 15px;
      pointer-events: none; }
  
  .main-header__select-country {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 35px 10px 17px;
    background: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 13px;
    font-style: italic;
    color: #c7c7c7;
    cursor: pointer; }
  
  .main-header__input-search {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-right: 8%;
    margin-bottom: 37px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 77%;
    padding: 16px 20px;
    font-family: inherit;
    font-size: 20px;
    font-style: italic;
    border: none;
    -webkit-box-shadow: 0px 4px 0 0 #c7c7c7;
            box-shadow: 0px 4px 0 0 #c7c7c7; }
    .main-header__input-search::-webkit-input-placeholder {
      color: #c7c7c7; }
    .main-header__input-search:-ms-input-placeholder {
      color: #c7c7c7; }
    .main-header__input-search::-ms-input-placeholder {
      color: #c7c7c7; }
    .main-header__input-search::placeholder {
      color: #c7c7c7; }
  
  .main-header__form-submit {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 135px;
    padding: 13px 0px 17px 10px;
    font-family: inherit;
    font-size: 20px;
    line-height: 25px;
    border: none;
    background-color: #4acaff;
    color: white;
    -webkit-box-shadow: 0px 4px 0 0 #3baedd;
            box-shadow: 0px 4px 0 0 #3baedd;
    border-radius: 2px;
    cursor: pointer; }
    .main-header__form-submit::before {
      content: "";
      position: absolute;
      left: 14%;
      top: 29%;
      width: 8px;
      height: 8px;
      border: 3px solid white;
      border-radius: 50%; }
    .main-header__form-submit::after {
      content: "";
      position: absolute;
      left: 22%;
      top: 55%;
      width: 6px;
      height: 3px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  
  @media (min-width: 320px) and (max-width: 640px) {
    .main-header__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main-header__form-submit {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 auto; }
    .main-header__form-select {
      margin: 0 auto;
      margin-bottom: 20px; }
    .main-header__form label {
      display: block;
      width: 226px;
      margin: 0 auto; }
      .main-header__form label:last-of-type {
        margin: 0 auto;
        margin-bottom: 20px; }
    .main-header__input-search {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px; } }
  
  @media (min-width: 641px) and (max-width: 900px) {
    .main-header__form label:last-of-type {
      margin-right: 60px; }
    .main-header__input-search {
      width: 66%; } }
  
  @media (max-width: 810px) {
    .main-header {
      padding-top: 42px; }
    .main-header nav {
      position: relative;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: 110px; }
    .main-header__menu {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      display: none;
      width: 100%; }
    .main-header__menu--no-js {
      display: block; }
    .main-header__menu--opened {
      display: block; }
    .main-header__menu--closed {
      display: none; }
    .main-header__menu-item {
      display: block;
      margin-right: 0;
      background-color: rgba(74, 202, 255, 0.3); }
    .main-header__menu-item a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase; }
    .main-header__menu-item a:hover,
    .main-header__menu-item a:active,
    .main-header__menu-item a:focus {
      border: none; }
    .main-header__menu-item--active {
      border: none; }
    .main-header__menu-item--active a:hover,
    .main-header__menu-item--active a:active,
    .main-header__menu-item--active a:focus {
      border: none; }
    .main-header__menu-button {
      position: relative;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: auto;
      display: block;
      width: 50px;
      height: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer; }
    .main-header__menu-button--opened::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 40px;
      top: 50%;
      left: 10%;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: #fff; }
    .main-header__menu-button--opened::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 40px;
      top: 50%;
      right: 10%;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #fff; }
    .main-header__menu-button--closed::before {
      content: "";
      position: absolute;
      left: 10%;
      top: 20%;
      width: 40px;
      height: 25px;
      border-top: 3px solid white;
      border-bottom: 3px solid white; }
    .main-header__menu-button--closed::after {
      content: "";
      position: absolute;
      left: 10%;
      top: 47%;
      width: 40px;
      height: 3px;
      background-color: #fff; } }
  
  .company-info {
    position: relative;
    padding-top: 110px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
    color: #585858; }
    .company-info::after {
      position: absolute;
      content: "";
      height: 7px;
      width: 100%;
      bottom: -7px;
      left: 0;
      background-image: url();
      z-index: 10; }
  
  .company-info__heading {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 50px;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    line-height: 59px; }
    .company-info__heading strong {
      text-transform: capitalize;
      font-style: normal;
      font-weight: normal;
      font-size: 45px; }
    .company-info__heading::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      height: 4px;
      width: 14%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #4acaff; }
  
  .company-info__description {
    margin: 0 auto;
    margin-bottom: 75px;
    width: 74%;
    text-align: center; }
  
  .company-info__link {
    display: block;
    margin: 0 auto;
    width: 222px;
    padding: 20px 30px;
    border: 3px solid #4acaff;
    border-radius: 6px;
    font-family: 'Gotham Rounded', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4acaff; }
  
  .subscribe {
    position: relative;
    background-color: #131c25;
    padding-top: 165px;
    padding-bottom: 75px;
    color: white; }
    .subscribe::after {
      position: absolute;
      content: "";
      height: 7px;
      width: 100%;
      bottom: -7px;
      left: 0;
      background-image: url();
      z-index: 10; }
  
  .subscribe__message {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 32px; }
  
  .subscribe__form input[type='email'] {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    padding: 15px 40px 15px 20px;
    color: white;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 360px;
    background-color: #131c25;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 95% center;
    font-family: 'Gotham Rounded Book', Arial, sans-serif;
    font-style: italic;
    border: 3px solid #4acaff;
    border-radius: 6px; }
    .subscribe__form input[type='email']::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
  
  .subscribe__form button[type='submit'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 154px;
    margin: 0 auto;
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    line-height: 25px;
    border: none;
    background-color: #4acaff;
    color: white;
    -webkit-box-shadow: 0px 4px 0 0 #3baedd;
            box-shadow: 0px 4px 0 0 #3baedd;
    cursor: pointer; }
    .subscribe__form button[type='submit']:hover, .subscribe__form button[type='submit']:focus {
      background-color: #7dd9ff; }
  
  @media (max-width: 430px) {
    .subscribe__form input[type="email"] {
      width: 280px; }
    .subscribe__message {
      width: 280px;
      text-align: center; } }
  
  .main-footer {
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #f5f5f5; }
  
  .main-footer__wrapper {
    max-width: 960px;
    margin: 0 auto; }
  
  .main-footer__email-contact {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-family: 'Gotham Rounded', Arial, sans-serif;
    font-size: 14px;
    color: #7a7a7a; }
    .main-footer__email-contact .far.fa-envelope {
      position: relative;
      top: 2px;
      font-size: 20px;
      color: #4acaff; }
  
  .main-footer__copyright-info {
    font-size: 14px;
    color: #7a7a7a;
    margin: 0; }
    .main-footer__copyright-info .main-footer__copyright-link {
      text-decoration: none;
      color: #7a7a7a;
      font-weight: 700; }
  
  @media (max-width: 450px) {
    .main-footer {
      text-align: center; } }

      