<div *ngFor="let xx of emp" class="row" >
  <div class="container" >
    <div class="am" >
        <img [src]="xx.Profileimg" style="width:100px; height:100px;">
    </div>
  </div>
    <div class="container" >
      <div>
         <p>I'm {{xx.name}} {{xx.lastname}} and I,m above {{xx.age}} year old and you can send your email to
         {{xx.email}}.my contact number.is {{xx.mobile}}.i live in state {{xx.state}} "{{xx.id}}"</p>
         <a href="" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#orangeModalSubscription">edit profile</a>
     </div>
    </div>
  <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    
    <div class="modal-content">
      
      <div class="modal-header text-center">
           <h4 class="modal-title white-text w-100 font-weight-bold py-2">Edit profile</h4>
           <h5>put the all value for upadte form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true" class="white-text">&times;</span>
            </button>
      </div>
       <div class="modal-body mx-3">
        <div class="container">
          <form [formGroup]="formDat" (ngSubmit)="click(formDat)">
              <input type="text" name="id" placeholder="id" [formControl]="formDat.controls['id']" required>
              <span [hidden]="formDat.controls['id'].valid" style="color: red;"> id</span><br><br>
              <input type="text" name="name" placeholder="First Name" [formControl]="formDat.controls['name']" required >
              <span [hidden]="formDat.controls['name'].valid" style="color: red;"> Enter-first-Name</span><br><br>
              
              <input type="text" name="lastname" placeholder="Last Name" [formControl]="formDat.controls['lastname']" required>
              <span [hidden]="formDat.controls['lastname'].valid" style="color: red;"> Enter-last-name</span><br><br>


              <input type="text" name="email" placeholder="Email" [formControl]="formDat.controls['email']" required>
              <span [hidden]="formDat.controls['email'].valid" style="color: red;"> Enter-Email</span><br><br>
      
              
              <input type="text" name="mobile" placeholder="+91-1234567890" [formControl]="formDat.controls['mobile']" required>
              <span [hidden]="formDat.controls['mobile'].valid" style="color: red;"> Enter Mo.No</span><br><br>
               
              
                <span>age</span>
              <div class="d-flex justify-content-bottom">
                <span class="indigo-text ">20</span>
                <input class="border-0" type="range" min="20" max="60" name="age" [formControl]="formDat.controls['age']" required >
                
                <span class=" indigo-text ">60</span>
                <span [hidden]="formDat.controls['age'].valid" style="color: red;"> Select Age</span><br><br>
              </div>


              <select class="main-header__select-country" name="state"  [formControl]="formDat.controls['state']" required>
                <span [hidden]="formDat.controls['state'].valid" style="color: red;"> select State</span><br><br>>
                <option value="" disabled selected>Select your state</option>
                <option value="maharatra">maharasta</option>
                <option value="bihar">bihar</option>
                <option value="goa">Goa</option>
                <option value="rajastan">rajastan</option>
                <option value="gujrat">gujrat</option>
              </select><br>
            
              <br><select class="main-header__select-country" name="country" [formControl]="formDat.controls['country']" required>
              <span [hidden]="formDat.controls['country'].valid" style="color: red;"> select country</span><br><br>
    >
              <option value="" disabled selected>Select your country</option>
              <option value="India">India</option>
              <option value="pakistan">Pakistan</option>
              <option value="USA">USA</option>
              <option value="Dubai">Dubai</option>
              <option value="koria">Koria</option>
              <option value="japan">Japan</option>
              </select>

              <br><br><input type="text" name="address" placeholder="address" [formControl]="formDat.controls['address']" required>
              <span [hidden]="formDat.controls['address'].valid" style="color: red;"> Enter-Address</span><br><br>

            <input type="file" (change)="upload($event)" >
            <img src="{{imgURL}}" name="image"  height="50%" width="50%"  >
            <button type="button" (click)="update()">upadte profile</button>
         </form>
        </div>
       </div>
      </div>
  </div>
  </div>
  </div>
  
  